body {
    font-family: cursive;
    font-size: 20px;
}

canvas {
    background-image: url('../assets/grass.png');
}

.info {
    width: 400px;
    text-align: center;
    .snake-over {
        color: darkred;
    }
    .snake-stats {
        color: blue;
    }
}